.full-page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1920px;

  padding-top: 46px;
  padding-bottom: 238px;

  font-family: "Gilam", sans-serif;
}

.header {
  width: 1460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
  cursor: pointer;
}

.phone {
  position: relative;
  top: 2px;
  right: 8px;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #e4b564;
  text-decoration: none;
}

.main {
  width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*section 1*/

.external-heating-networks {
  width: 1460px;
  padding-bottom: 161px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;

  color: #ffffff;
}

.first {
  padding-bottom: 41px;
}

.description {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

  color: #ffffff;
  padding-bottom: 41px;
  width: 1182px;
}

.grid-wrap-1 {
  display: grid;
  grid-template-columns: repeat(6, minmax(208px, 1fr));
  grid-template-rows: repeat(2, minmax(0px, 468px));
  gap: 29px 30px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-1 {
  grid-column: 1 / 3;
}

.work-2 {
  grid-column: 3 / 5;
  text-align: center; /*почему-то слетело для 1 текста из 5 и пришлось отдельно прописать*/
}

.work-3 {
  grid-column: 5 / 7;
}

.work-4 {
  grid-column: 1 / 4;
}

.work-5 {
  grid-column: 4 / 7;
}

.text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

  color: #ffffff;
}

.text-width {
  width: 380px; 
}

/*section 2*/

.own-park {
  width: 1460px;
  margin-bottom: 191px;
}

.second {
  padding-bottom: 94px;
}

.grid-wrap-2 {
  display: grid;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: 225px 32px 101px 122px 277px;
  grid-gap: 25px 30px;
}

.construction-machinery-1 {
  grid-row: 1 / 3;
}

.construction-machinery-2 {
  grid-row: 1 / 4;
}

.construction-machinery-3 {
  grid-row: 1 / 2;
}

.construction-machinery-4 {
  grid-row: 2 / 5;
}

.construction-machinery-5 {
  grid-row: 3 / 6;
}

.construction-machinery-6 {
  grid-row: 4 / 6;
}

.construction-machinery-7 {
  grid-row: 5 / 6;
}

.text-construction-machinery,
.black {
  width: 228px;
  padding-left: 51px;
  padding-top: 44px;

  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
}

.black {
  font-weight: 500;
  color: #000000;
}

.big {
  font-weight: 700;
}

.middle {
  font-weight: 500;
}

/* section 3*/

.our-projects {
  padding-top: 172px;
  width: 1920px;
}

.section-wrap-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 230px;
  margin-left: 230px;
  padding-bottom: 72px;
}

.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 180px;
  height: 50px;
  border: 1px solid #e4b564;
  cursor: pointer;
}

.text-second {
  padding-top: 16px;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  color: #ffffff;
  padding-left: 80px;
  padding-right: 80px;
  width: 326px;
}

.text-third {
  display: inline;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  color: #ffffff;
  padding-left: 80px;
  padding-right: 80px;
  width: 326px;
}

.flex-wrap {
  width: 1460px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 230px;
}

.logo {
  width: 486px;
  height: 391px;
}

.num-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.button {
 
  margin-top: 150px;
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  
  font-size: 25px;
  
  box-sizing: border-box;
  width: 260px;
  height: 80px;
  border: 1px solid #e4b564;
  color: #e4b564;
  cursor: pointer;
}

/* standart*/
body.standart .full-page{
   background: #171717;
}

body.standart .main {
background: #171717;
}

body.standart .work-1 {
  background: #634f2c;
}

body.standart .work-2 {
  background: #b4a385;
}

body.standart .work-3 {
  background: #e4b564;
}

body.standart .work-4 {
  background: #635a4a;
}

body.standart .work-5 {
  background: #b08c4d;
}

body.standart .num-1 {
  background: #634f2c;
}

body.standart .num-2 {
  background: #e8d2abc2;}

body.standart .num-3 {
  background: #e4b564;
}

body.standart .num-4 {
  background: #635a4a;
}

body.standart .num-5 {
  background: #b08c4d;
}

body.standart .num-6 {
  background: #634f2c;
}

body.standart .button {
  background: black;
}

body.standart .construction-machinery-1 {
  background: #0e0e0e;
}

body.standart .construction-machinery-2 {
  background: #242424;
}

body.standart .construction-machinery-3 {
  background: #1f1f1f;
}

body.standart .construction-machinery-4 {
  background: #0e0e0e;
}

body.standart .construction-machinery-5 {
  background: #1f1f1f;
}

body.standart .construction-machinery-6 {
  background: #e4b564;
}

body.standart .construction-machinery-7 {
  background: #0a0909;
}

body.dark .our-projects {
  background: #0e0e0e;
}

/* light*/
.light .full-page {
background: #AFC073;
}

body.light .main {
  background: #AFC073;;
}

body.light .work-1 {
  background: #4b4c2c;
}

body.light .work-2 {
  background: #cedf90;
}

body.light .work-3 {
  background: #e4b564;
}

body.light .work-4, .construction-machinery-5 {
  background: #797641;
}

body.light .work-5 {
  background: #b08c4d;
}
body.light .num-1, .construction-machinery-3 {
  background: #cedf90;
}

body.light .num-2, .construction-machinery-4  {
  background: #b7c656;}

body.light .num-3{
  background: #e4b564;
}

body.light .num-4 {
  background: #797641;
}

body.light .num-5 {
  background: #b08c4d;
}

body.light .num-6 {
  background: #634f2c;
}

 body.light .btn {
  background:#778D45;
}


body.light .button {
  background:#778D45;
}

body.light .btn-2{
  background:#778D45;
}

body.light .construction-machinery-1 {
  background:  #b7c656;
}

body.light .construction-machinery-2, .construction-machinery-7 {
  background: #4b4c2c;
}

body.light .construction-machinery-6 {
  background: #e4b564;
}

body.light .our-projects {
  background: rgb(145, 167, 94);
}